@page "/"
@rendermode InteractiveServer

<PageTitle>Feedback sản phẩm</PageTitle>

<div>
	<label class="label"></label>
</div>
@code {
	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
	}
}
