@page "/"
@rendermode InteractiveServer

<PageTitle>Feedback sản phẩm</PageTitle>

<div>
	<label class="label">Tên sản phẩm</label>
	<div class="control">
		<select>

		</select>
	</div>
</div>
@code {
	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
	}
}
